In [15]:
from bs4 import BeautifulSoup
import json
import pandas as pd

In [24]:
file_path = "./plays.json"

with open(file_path, 'r') as file:
    plays = json.load(file)

plays_df = pd.DataFrame(plays['plays'])
plays_df.head(10)

plays_df['x'] = plays_df['coordinate'].apply(lambda x: x['x'])
plays_df['y'] = plays_df['coordinate'].apply(lambda x: x['y'])
plays_df

,id,period,text,homeAway,scoringPlay,athlete,coordinate,shootingPlay,type,isFreeThrow,x,y
0,4008285092,"{'number': 1, 'displayValue': '1st Quarter'}",Andrew Bogut makes two point shot (Stephen Cur...,away,True,"{'id': '2747', 'name': 'Andrew Bogut'}","{'x': 25, 'y': 0}",True,"{'id': '118', 'txt': 'Alley Oop Dunk Shot'}",NaN,25,0
1,4008285093,"{'number': 1, 'displayValue': '1st Quarter'}",LeBron James makes two point shot (Kevin Love ...,home,True,"{'id': '1966', 'name': 'LeBron James'}","{'x': 24, 'y': 1}",True,"{'id': '126', 'txt': 'Layup Driving Reverse'}",NaN,24,1
2,4008285094,"{'number': 1, 'displayValue': '1st Quarter'}",Stephen Curry makes 28-foot three point jumper,away,True,"{'id': '3975', 'name': 'Stephen Curry'}","{'x': 13, 'y': 25}",True,"{'id': '92', 'txt': 'Jump Shot'}",NaN,13,25
3,4008285095,"{'number': 1, 'displayValue': '1st Quarter'}",Kyrie Irving misses driving layup,home,NaN,"{'id': '6442', 'name': 'Kyrie Irving'}","{'x': 24, 'y': 2}",True,"{'id': '110', 'txt': 'Driving Layup Shot'}",NaN,24,2
4,4008285097,"{'number': 1, 'displayValue': '1st Quarter'}",Klay Thompson makes 19-foot two point shot,away,True,"{'id': '6475', 'name': 'Klay Thompson'}","{'x': 11, 'y': 12}",True,"{'id': '131', 'txt': 'Pullup Jump Shot'}",NaN,11,12
...,...,...,...,...,...,...,...,...,...,...,...,...
201,400828509540,"{'number': 4, 'displayValue': '4th Quarter'}",Jason Thompson misses 10-foot step back jumpshot,away,NaN,"{'id': '3462', 'name': 'Jason Thompson'}","{'x': 34, 'y': 5}",True,"{'id': '132', 'txt': 'Step Back Jump Shot'}",NaN,34,5
202,400828509544,"{'number': 4, 'displayValue': '4th Quarter'}",Jared Cunningham misses free throw 1 of 2,home,NaN,"{'id': '6582', 'name': 'Jared Cunningham'}","{'x': 25, 'y': -8}",True,"{'id': '98', 'txt': 'Free Throw - 1 of 2'}",True,25,-8
203,400828509546,"{'number': 4, 'displayValue': '4th Quarter'}",Jared Cunningham makes free throw 2 of 2,home,True,"{'id': '6582', 'name': 'Jared Cunningham'}","{'x': 25, 'y': -8}",True,"{'id': '99', 'txt': 'Free Throw - 2 of 2'}",True,25,-8
204,400828509549,"{'number': 4, 'displayValue': '4th Quarter'}",Ian Clark misses 27-foot three point jumper,away,NaN,"{'id': '2489785', 'name': 'Ian Clark'}","{'x': 37, 'y': 24}",True,"{'id': '92', 'txt': 'Jump Shot'}",NaN,37,24
205,400828509552,"{'number': 4, 'displayValue': '4th Quarter'}",Jared Cunningham misses 25-foot three point j...,home,NaN,"{'id': '6582', 'name': 'Jared Cunningham'}","{'x': 26, 'y': 25}",True,"{'id': '92', 'txt': 'Jump Shot'}",NaN,26,25

In [22]:
file_path = "./scores.json"

# Open the JSON file and load its contents
with open(file_path, 'r') as file:
    scores = json.load(file)

scores_df = pd.DataFrame(scores["plys"])
scores_df.head(20)

,clck,id,prd,awyScr,hmScr,txt,tm,sq,plyTypId,scrng
0,12:00,4008285091,1,0,0,Andrew Bogut vs. Timofey Mozgov (Draymond Gree...,5,1,11,NaN
1,11:42,4008285092,1,2,0,Andrew Bogut makes two point shot (Stephen Cur...,9,2,118,True
2,11:15,4008285093,1,2,2,LeBron James makes two point shot (Kevin Love ...,5,3,126,True
3,11:03,4008285094,1,5,2,Stephen Curry makes 28-foot three point jumper,9,4,92,True
4,10:40,4008285095,1,5,2,Kyrie Irving misses driving layup,5,5,110,NaN
5,10:38,4008285096,1,5,2,Harrison Barnes defensive rebound,9,6,155,NaN
6,10:27,4008285097,1,7,2,Klay Thompson makes 19-foot two point shot,9,7,131,True
7,10:17,4008285098,1,7,2,Kevin Love misses 22-foot jumper,5,8,92,NaN
8,10:17,4008285099,1,7,2,Andrew Bogut defensive rebound,9,9,155,NaN
9,10:10,40082850910,1,10,2,Klay Thompson makes 24-foot three point jumpe...,9,10,92,True
10,10:10,40082850911,1,10,2,Cavaliers Full timeout,5,11,16,NaN
11,9:53,40082850915,1,10,2,Kevin Love bad pass (Stephen Curry steals),5,15,62,NaN
12,9:48,40082850916,1,12,2,Stephen Curry makes two point shot,9,16,109,True
13,9:33,40082850917,1,12,2,Kyrie Irving misses two point shot,5,17,130,NaN
14,9:32,40082850918,1,12,2,Andrew Bogut defensive rebound,9,18,155,NaN
15,9:22,40082850919,1,12,2,Klay Thompson misses 24-foot three point jumper,9,19,92,NaN
16,9:19,40082850920,1,12,2,J.R. Smith defensive rebound,5,20,155,NaN
17,9:02,40082850921,1,12,4,Timofey Mozgov makes 6-foot two point shot (Le...,5,21,93,True
18,8:51,40082850922,1,12,4,Timofey Mozgov shooting foul (Andrew Bogut dr...,5,22,44,NaN
19,8:51,40082850923,1,12,4,Andrew Bogut misses free throw 1 of 2,9,23,98,NaN

In [26]:
all_data = pd.merge(plays_df, scores_df, how='left', on='id')
all_data.head(10)
all_data.to_csv('plays.csv')